body {
    background-color: darkgray;
}

div {
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: dashed 2px black;
    padding: 10px;
    overflow: scroll;
    overflow: auto;
}

h1,
li,
h2,
p {
    color: white;
}

li {
    list-style-type: square;
    list-style-type: "# ";
}

ul {
    background-image: url(../index\ src/library.bmp);

}