body{background-color: lightgoldenrodyellow;}

ol{background-color: beige;
color: chocolate;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 34;}

h1{font-size: 26;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;}