div {border: lightskyblue 2px solid;}
.dli{background-color: rgb(204, 128, 28);
    padding:20px;}
.slogan{
    background-color: rgb(224, 224, 168);
    padding: 10px;
    font-size: 16pt;
    }
#special{color: rgb(219, 30, 16);}