
img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: brown;
    border-radius: 25px;
  }
  table {
    float: right;
    width: 400px;
    height: 200px;
    margin-right: 20%;
    border-collapse: collapse;
    border:brown;
    border: 1px;
    border-radius: 20px;
  }
  th {
    background-color: gray;
  }
  body{
  }